body {
    background-color: azure;
    margin: 0;
}

div{
    margin: 3px  20px ;
    padding: 1px;
}
nav {
    background-color: brown;
    height: 40px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px;
}
nav a{
    color: #0313fa;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 18px;
 }
 nav a:hover{
    background-color: rgb(248, 0, 21);
    color: black;
 }
 
footer {
    background-color: rgb(30, 82, 115);
    height: 30px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
h1, label, legend{
    font-size: 26; font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
    
    
}


