<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/tx.js"></script>

</head>
<body>
    <form action="#" class="form-contact" method="post" tabindex="1">
        <fieldset>
            <Legend><strong> Click para escolher a taxa ZONA URBANA : </strong></Legend>
    
            <div class="dblock">
                <input type="button" value="Somar" onclick="somar()">
                <input type="button" value="Subtrair" onclick="subtrair()">
                <input type="button" value="Multiplicar" onclick="multiplicar()">
                <input type="button" value="Dividir" onclick="dividir()">
                <input type="button" value="Resto" onclick="resto()">
            </div>
    
        </fieldset>
    
    
    </fieldset>
    </form>
</body>
</html>